.hiden{
    display: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color:#FFFFFF ;
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding:0 ;
}

ul,
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
}

/* header */

.page-head{
    border-bottom: 1px solid #e7e9fc;
}

.container.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: none;
}

.address{
    display: none;
}

.logo{
    display: block;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo-span{
    color: #2e2f42;

}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill:#2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn{
        display: none;
    }

    .menu{
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .address{
        display: block;
        font-style: normal;
        color: #434455;
    }
    
    .navigation{
        display: flex;
        align-items: center;
    }
}