body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    background-color:#FFFFFF ;
    margin: 0;
}

.hiden{
    display: none;
}

p{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
    padding:0 ;
}

ul,
ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.links{
    color: #2e2f42;
    font-weight: 500;
    letter-spacing: 0.02em;
}

/*common*/

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
      padding: 0 15px;
    }
}

/* header */

.page-head{
    border-bottom: 1px solid #e7e9fc;
}

.container.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu{
    display: none;
}

.address{
    display: none;
}

.logo{
    display: block;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo-span{
    color: #2e2f42;

}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill:#2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn{
        display: none;
    }

    .menu{
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .links.header.selected{
        color: #404BBF;
        position: relative;
        transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    
    .links.header.selected::after{
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color:#404BBF;
        border-radius: 2px;
    }

    .address{
        display: block;
        font-style: normal;
        color: #434455;
    }

    .links.header{
        display: block;
    }
    
    .navigation{
        display: flex;
        align-items: center;
    }

    .navigation .links:focus,
    .navigation .links:hover{
        color: #404BBF;
    }

    .links-adr:focus,
    .links-adr:hover{
        color: #404bbf ;
    }

    .address-list{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .links-adr{
        display: block;
        font-size: 12px;
        color:  #434455;
        font-weight: 400;
        letter-spacing: 0.04em;
        line-height: 1.17;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px){
    .logo{
        margin-right: 76px;
    }

    .address-list{
        flex-direction: row;
        align-items: center;
        gap:40px;
    }

    .links-adr{
        display: block;
        padding: 24px 0;
        font-size: 16px;
        color:  #434455;
        font-weight: 400;
        letter-spacing: 0.02em;
        line-height: 1.5;

        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}



/* moble menu */

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
    opacity: 1;
    visibility:visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;

    display: flex;
    flex-direction: column;
    height: 100%;
}

.mobile-menu-nav{
    margin-bottom: auto;
}

.mobile-menu-close{
    position: absolute;
    top:24px;
    right:24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: #e7e9fc;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.mobile-menu-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #2e2f42;
}

.mobile-menu-link.selected{
    color: #404bbf;
}

.mobile-menu-adress{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-adress-links{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #434455;
}

.mobile-menu-adress-links.tel{
    color: #4d5ae5;
}



@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}